/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Gold Shimmer effect */
.neon {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.neon.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000;
  transition: opacity 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Text styles */
.text {
  background-color: #000;
  color: #fff;
  font-size: 10vw;
  font-weight: bold;
  font-family: Cormorant Garamond;
  text-transform: capitalize;
  position: relative;
  user-select: none;
  text-shadow: 
    0 0 0.3125rem rgba(255, 215, 0, 0.5),
    0 0 0.625rem rgba(255, 215, 0, 0.5),
    0 0 0.9375rem rgba(255, 215, 0, 0.5),
    0 0 1.25rem rgba(255, 215, 0, 0.5),
    0 0 1.5625rem rgba(255, 215, 0, 0.5);
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle, rgba(255, 215, 0, 0.8), transparent 25%) center / 25% 25%,
    radial-gradient(circle, rgba(255, 215, 0, 0.5), #000 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}

/* Save the date styles */
.text-save {
  background-color: #000;
  color: #fff;
  font: 10vw Monoton;
  text-transform: capitalize;
  position: relative;
  user-select: none;
  text-decoration: none;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow:
      0 0 0.625rem #fff,
      0 0 1.25rem #fff,
      0 0 1.875rem #fff,
      0 0 2.5rem #ff1177,
      0 0 4.375rem #ff1177,
      0 0 5rem #ff1177,
      0 0 6.25rem #ff1177,
      0 0 9.375rem #ff1177;
  }
  to {
    text-shadow:
      0 0 0.3125rem #fff,
      0 0 0.625rem #fff,
      0 0 0.9375rem #fff,
      0 0 1.25rem #ff1177,
      0 0 2.1875rem #ff1177,
      0 0 2.5rem #ff1177,
      0 0 3.125rem #ff1177,
      0 0 4.6875rem #ff1177;
  }
}

.spotlight-save {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle, rgba(255, 192, 203, 0.8), transparent 25%) center / 25% 25%,
    radial-gradient(circle, rgba(255, 192, 203, 0.5), #000 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

/* Wedding date styles */
.text-date {
  background-color: #000;
  color: #fff;
  font-size: 6vw;
  font-weight: regular;
  font-family: Cinzel;
  text-transform: capitalize;
  position: relative;
  user-select: none;
  text-shadow: 
    0 0 0.3125rem rgba(192, 192, 192, 0.5),
    0 0 0.625rem rgba(192, 192, 192, 0.5),
    0 0 0.9375rem rgba(192, 192, 192, 0.5),
    0 0 1.25rem rgba(192, 192, 192, 0.5),
    0 0 1.5625rem rgba(192, 192, 192, 0.5);
}

.spotlight-date {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle, rgba(192, 192, 192, 0.8), transparent 25%) center / 25% 25%,
    radial-gradient(circle, rgba(192, 192, 192, 0.5), #000 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}
