@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Dancing+Script&family=Great+Vibes&family=Playfair+Display&family=Raleway&family=Montserrat&family=Roboto&family=Open+Sans&family=Merriweather&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Gold Shimmer definitions start here */
.neon {
    position: relative;
    overflow: hidden;
}

.text {
    background-color: black;
    color: white;
    font-size: 10vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    text-shadow: 
        0 0 0.3125rem rgba(255, 215, 0, 0.5),
        0 0 0.625rem rgba(255, 215, 0, 0.5),
        0 0 0.9375rem rgba(255, 215, 0, 0.5),
        0 0 1.25rem rgba(255, 215, 0, 0.5),
        0 0 1.5625rem rgba(255, 215, 0, 0.5);
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            rgba(255, 215, 0, 0.8), /* Golden color with transparency */
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            rgba(255, 215, 0, 0.5), /* Golden color with transparency */
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

/* Gold Shimmer definitions end here */
/* Save the date definitions start here */

.text-save {
    background-color: black;
    color: white;
    font-size: 10vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    text-shadow: 
    0 0 0.3125rem rgba(255, 192, 203, 0.5), /* Rose Gold */
    0 0 0.625rem rgba(255, 192, 203, 0.5),
    0 0 0.9375rem rgba(255, 192, 203, 0.5),
    0 0 1.25rem rgba(255, 192, 203, 0.5),
    0 0 1.5625rem rgba(255, 192, 203, 0.5);
}

.spotlight-save {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            rgba(255, 192, 203, 0.8), /* Rose Gold */
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            rgba(255, 192, 203, 0.5), /* Rose Gold */
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}



/* Save the date definitions end here */

/* Wedding date definitions start here */
.text-date {
    background-color: black;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    text-shadow: 
    0 0 0.3125rem rgba(192, 192, 192, 0.5), /* Silver */
    0 0 0.625rem rgba(192, 192, 192, 0.5),
    0 0 0.9375rem rgba(192, 192, 192, 0.5),
    0 0 1.25rem rgba(192, 192, 192, 0.5),
    0 0 1.5625rem rgba(192, 192, 192, 0.5);
  }
  
  .spotlight-date {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
      radial-gradient(
        circle,
        rgba(192, 192, 192, 0.8), /* Silver */
        transparent 25%
      ) center / 25% 25%,
      radial-gradient(
        circle,
        rgba(192, 192, 192, 0.5), /* Silver */
        black 25%
      ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
  }